/_*
/result
/src/viewer/styles.css.d.ts
/node_modules
/deploy.sh
desktop.tar.gz
desktop/target/
desktop/target/*

desktop/target/debug/samari_catcher_desktop.pdb
desktop/target/debug/samari-catcher-desktop.exe